#user-dashboard {
    width: 100%;
    min-height: 84vh;
    display: grid;
    grid-template-columns: 26% auto;

    .sidebar-menu{
        width: 100%;
        height: 100%;
        background-color: rgba(var(--dark), .9);
    }

    .content{
        width: 100%;
        height: 100%;
        background-color: rgba(var(--light), .15);
    }

}